:root {
  font-size: 16px;

  --header-height: 57.6px;
  --mobile-menu-width: 4rem;

  --purple-dark-2: rgb(255, 255, 255);
  --purple-dark-1: hsl(270, 20%, 15%);
  --purple: hsl(0, 0%, 0%);
  --purple-light-1: hsl(0, 0%, 98%);
}
@media (max-width: 1000px) { /*hamburger*/
  .navbar .menu {
    display: none;
  }
  #mobile-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  #mobile-menu span {
    position: absolute;
    width: 80%;
    height: 1px;
    left: 10%;
    top: 50%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }

  #mobile-menu span:first-of-type {
    top: 25%;
  }

  #mobile-menu span:last-of-type {
    top: 75%;
  }
  #mobile-menu.open span:first-of-type,
  #mobile-menu.open span:last-of-type {
    transform: rotate(45deg);
    opacity: 1;
    top: 50%;
  }
  #mobile-menu.open span {
    opacity: 0;
  }
  #mobile-menu.open span:last-of-type {
    transform: rotate(-45deg);
  }
  #mobile-menu-content.open {
    top: var(--header-height);
  }
  #mobile-menu-content {
    width: 100%;
    height: calc(100vh - var(--header-height));
    background: var(--purple);
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    transition: top 0.7s ease-in-out;
  }

  #mobile-menu-content > div {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #mobile-menu-content > div > ul {
    width: 100%;
    flex-direction: column;
  }
  #mobile-menu-content ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid var(--purple-light-1);
  }
  #mobile-menu-content ul li a {
    padding: 2rem;
    text-decoration: none;
    color: var(--purple-dark-2);
    display: block;
  }
}
@media (max-width: 1000px){ /*contact*/
  .section_4 {
    padding: 100px 0px;
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .contacts {
    display: flex;
    color: #fff;
    padding-left:10px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }
  .contact_item {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container_05 {
    min-width: 300px;
    text-align: center;
    padding-bottom: 50px;
  }
 
}
@media (max-width: 1000px){ /*about*/
  .section_1 {
    padding: 120px 0;
    background-color: rgb(215, 98, 15);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about_inner {
    display: flex;
    max-width: 700px;
  }
  .about_img,
  .about_content {
    display: flex;
    flex-direction: column;
    
  }
  .about_title {
    font-size: 55px;
    color: #fff;
  }
  .about_bigtitle {
    margin-bottom: 40px;
    font-size: 80px;
    color: #fff;
    line-height: 60px;
  }
  .about_text {
    color: #fff;
    font-size: 16px;
  }
  .imge {
    max-width: 450px;
    height: auto;
  }
  
  }
  @media (max-width: 1000px) { /*intro*/
    .container_01 {
      width: 100%;
      max-width: 600px;
      margin: 0 30px;
    }
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 700px;
      height: 100vh;
      background: url(../images/leaf.jpg) center no-repeat;
      background-size: cover;
    }
    .intro_title {
      color: #fff;
      font-size: 70px;
      font-weight: 700;
      text-align: left;
      line-height: 1;
      max-width: 600px;
    }
    .intro_sup {
      margin-top: 70px;
      font-size: 30px;
      color: #fff;
      text-align: left;
    }
    .intro_sup:after {
      content: "";
      display: block;
      width: 340px;
      height: 3px;
      background-color: #fff;
      margin: 20px 0px;
      margin-bottom: 90px;
    }
  }
  @media (max-width: 1000px) { /*portfolio*/
    .section_3 {
      padding-top: 100px;
      padding-bottom: 150px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .portfolio {
      display: flex;
      flex-wrap: wrap;
      row-gap: 40px;
    
    }
    .portfolio_item {
      width: 300px;
      position: relative;
      
    }
  }
